<div class="row m-0">
  <div class="gap-2" [ngClass]="isCollapsed ? 'col-2' : 'col-1'">
    <mat-nav-list>

      <a mat-list-item routerLink="/home" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Главная</span>
      </a>

      <a mat-list-item routerLink="/profile" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Моя страница</span>
      </a>

      <a mat-list-item routerLink="/chats" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>chat</mat-icon>
        <span matListItemTitle>Чаты</span>
      </a>

      <a mat-list-item routerLink="/friends" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Друзья</span>
      </a>

      <a mat-list-item routerLink="/settings" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Настройки</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/quit" (click)="onToggleMenuClick()" routerLinkActive="active" class="align-items-center p-2 gap-2">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Выйти</span>
      </a>

    </mat-nav-list>
  </div>
  <div class="d-flex justify-content-center h-100 mt-2" [ngClass]="isCollapsed ? 'col-10' : 'col-11'">
    <router-outlet></router-outlet>
<!--    <h1>Hello!</h1>-->
  </div>
</div>
