<mat-card style="max-width: 600px; min-width: 600px" class="mx-auto mb-2">

  <mat-card-header class="pb-2">
    <div class="d-flex align-items-center w-100">

      <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center me-3 flex-shrink-0 position-relative"
           style="width: 45px; height: 45px;cursor: pointer;"
           [routerLink]="['users',post?.createdBy?.id,'profile']"
      >
        <mat-icon class="text-white position-absolute" style="font-size: 22px; top: 50%; left: 50%; transform: translate(-50%, -50%);">person</mat-icon>
      </div>

      <div class="flex-grow-1">
        <div class="d-flex align-items-center">
          <mat-card-title class="mb-0 me-2" style="font-size: 14px;cursor: pointer;" [routerLink]="['users',post?.createdBy?.id,'profile']">
            <strong>{{post?.createdBy?.firstName}} {{post?.createdBy?.lastName}}</strong>
          </mat-card-title>
          <small class="text-muted mb-0 me-2" style="font-size: 12px;">
            {{ formatMessageTime(post?.createdAt || '') }}
          </small>
        </div>
      </div>

      <button mat-icon-button class="text-muted" [matMenuTriggerFor]="postMenu" *ngIf="this.currentUser?.id === post?.createdBy?.id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #postMenu="matMenu">
        <button mat-menu-item (click)="onDeleteClick()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Удалить</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content class="pt-2 pb-3">
    <div class="px-3">
      <p class="mb-0 text-dark text-break word-wrap-break-word">{{post?.bodyHtml}}</p>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between align-items-center px-3 border-top py-2">
    <div class="d-flex gap-3">
      <button mat-button [color]="isLikedByCurrentUser() ? 'primary' : ''" (click)="onLikeClick()" class="d-flex align-items-center gap-1 ">
        <mat-icon style="font-size: 20px;">thumb_up</mat-icon>
        <span class="small">{{post?.likes?.length}}</span>
      </button>
      <button mat-button color="primary" (click)="onCommentsButtonClick()" class="d-flex align-items-center gap-1">
        <mat-icon style="font-size: 20px;">comment</mat-icon>
        <span class="small">{{post?.comments?.length}}</span>
      </button>
    </div>
  </mat-card-actions>

  <div *ngIf="isCommentsExpanded" class="border-top">

    <div class="p-3 bg-light border-bottom">
      <div class="d-flex gap-2">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newCommentText"
          placeholder="Напишите комментарий..."
          (keydown.enter)="onSubmitCommentClick()"
        >
        <button class="btn btn-primary d-flex align-items-center justify-content-center"
                type="button"
                (click)="onSubmitCommentClick()"
                style="width: 47px;">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

    <div class="p-3 overflow-auto" style="max-height: 400px;">
      <div class="d-flex flex-column">

        <app-comment-component
          *ngFor="let comment of sortCommentsByCreatedDate(post?.comments || [])"
          [comment]="comment">
        </app-comment-component>

        <div *ngIf="!post?.comments?.length" class="text-center text-muted py-5">
          <mat-icon class="mb-2">chat</mat-icon>
          <p class="mb-0 small">Пока нет комментариев</p>
          <p class="small text-muted">Будьте первым, кто оставит комментарий</p>
        </div>

      </div>
    </div>

  </div>

</mat-card>


<app-notification-component
  *ngIf="isShowNotification"
  [message]="notificationMessage"
  [status]="notificationStatus"
  [autoClose]="true"
  [duration]="2000"
  (closed)="onNotificationClosed()">
</app-notification-component>
