<div class="d-flex mb-3" [class.justify-content-end]="isMyMessage" [class.justify-content-start]="!isMyMessage">

  <div *ngIf="!isMyMessage" class="d-flex align-items-start">
    <div class="bg-light rounded p-2">
      <div class="fw-bold small">{{`${message?.createdBy?.firstName} ${message?.createdBy?.lastName}`}}</div>
      <div class="mb-1">{{message?.bodyHtml}}</div>
      <div class="text-muted small text-end">{{formatMessageTime(message?.createdAt || '')}}</div>
    </div>
  </div>

  <div *ngIf="isMyMessage" class="bg-primary text-white rounded p-2">
    <div class="mb-1">{{message?.bodyHtml}}</div>
    <div class="small text-end opacity-75">{{formatMessageTime(message?.createdAt || '')}}</div>
  </div>

</div>
